/* Table formatting */

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

/* Card formatting */

.card-container {
  display: flex;
}

.card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: .5rem;
}

/* Page display */

body {
  display: flex;
  justify-content: center;
}

.container,
.controls-container {
  width: max(800px, 80%);
}

.center-vertically {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addButton {
  width: 50%;
}

.output-container,
table {
  width: 100%;
  margin: 1rem;
}

/* Modal display */

dialog form {
  display: flex;
  flex-direction: column;
}

dialog form * {
  margin: 0.3rem;
}